html{
    font-size: 62.5%;
}

body{
    font-size: 16px;/* 1 rem es igual a 10px */
}
/* CON LOS PRIMEROS BLOQUES DE CODIGO PODEMOS ESCRIBIR EN REM EN VEZ DE PIXELES */

/* REM HACE QUE SE ADAPTE A CUALQUIER DISPOSITIVO */
h1{
    /* valor */
    text-align: center;
    font-size: 3.8rem;

}

span{
    /* 
    Todo esto son unidades de medidas
    px - es el elemneto mas normal de medida
    em - los em miden diferente, viene de la medida padre si se usa el span 
    rem - la unidad de medida para eso pixeles bajos*/
    font-size: 2rem;
}